.react-calendar {
  width: inherit;
  max-width: 100%;
  background: #f1ebe4;
  box-shadow: 0px 0px 0px 1px #5da9db inset;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  border-radius: 10px;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  /*border-bottom: 1px solid #f0f0f06b;*/
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  box-shadow: 0px 0px 0px 1px #ce3080 inset;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  /*color: #d10000;*/
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  /*padding: 0.25rem;*/
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: none;
  box-shadow: 0px 0px 0px 0.25px #f0f0f0 inset;
  border-collapse: collapse;
}
.activeCalendar * .react-calendar__tile > abbr {
  text-align: left;
  position: absolute;
}
.react-calendar__tile > abbr {
  margin: auto;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
/*.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  box-shadow: 0px 0px 0px 1px #5da9db inset;
}*/
.react-calendar__tile:enabled:hover {
  box-shadow: 0px 0px 0px 1px #ce3080 inset;
}
.inCycle {
  background-color: #a7a4a460;
  color: "rgb(17, 24, 39)";
}
.react-calendar__tile--now {
  /*background: #ffff76;*/
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  /* background: #ffffa9;*/
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  /* background: #a9d4ff;*/
}
.react-calendar__tile--active {
  /*background: #5da9db;
  color: white;*/
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  /* background: #5da9db;*/
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
